* {
    margin: 0;
    padding: 0;
}

header {

    max-width: 100%;
    width: 1600px;
    background-color: #1A0B2E;
}

/* style navber */
.navbar {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    height: 96px;
    width: 1600px;
    background-color: #1A0B2E;
}

.navbar .nav {
    display: flex;
    gap: 32px;
}

.navbar .nav li {
    list-style: none;
}

.navbar .nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar button {
    width: 135px;
    height: 44px;
    align-items: center;
    color: #2A186C;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    ;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    border-style: none;
}

.navbar .Subscribe p {
    padding: 12.5px 16px;
}


/* hero-container style */
.hero-container {
    background: url(assets/hero-bg.png);
    max-width: 100%;
    width: 1600px;
    background-color: #1A0B2E;
    background-size: 100%;
    margin-top: 101px;
    background-repeat: no-repeat;


}

.hero-container .hero-circle {
    justify-content: center;
    align-items: center;
    display: flex;

}

.hero-container .hero-circle .back-img {
    position: relative;
    height: 350px;
    width: 350px;

}

.hero-container .hero-circle .Top-img {
    position: absolute;
}

.Badge {
    color: #1A0B2E;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 25px;
    text-align: center;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -240px;
    position: relative;
    margin-left: -95px;
}

.growth {
    margin-top: 41px;
    text-align: center;
    color: #FFFFFF;
}

.growth h1 {
    font-size: 60px;
    font-weight: 800;
}

.growth p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin: 8px;
}

.container-btn .btn {
    width: 201px;
    height: 44px;
    align-items: center;
    color: #2A186C;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    ;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    border-style: none
}

.container-btn .btn-1 {
    width: 201px;
    height: 44px;
    align-items: center;
    color: #2A186C;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #00FF88;
    font-family: "Inter", sans-serif;
    border-width: 1px;
    border-color: #00FF88;
    background: none;
}

.container-btn {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 101px;
}


/* About the Podcast section */
.hero-review {
    background-color: #1A0B2E;
    max-width: 100%;
    width: 1600px;
}

.hero-review .container {
    text-align: center;
    color: #FFFFFF;
    background-color: #1A0B2E;
    padding-top: 50px;
}

.hero-review .container h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero-review .container p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
    margin-top: 16px;
}

.rating {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 160px 200px 0px 200px;
}

.rating h1 {
    color: #00FF88;
    font-size: 48px;
}

.rating p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    padding-bottom: 120px;
}

/* hero-access section */

.hero-access {
    background-color: #230E3D;
}

.hero-access-container>* {
    border-radius: 40px;
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    padding: 40px;
    line-height: 40px;

}

.hero-access-container {
    margin: 40px 200px 0px 200px;
}

.hero-access-container h6 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

.hero-access h1 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}

.hero-access P {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
}

.Audio {
    grid-area: Audio;
}

.Mobile {
    grid-area: Mobile;
}

.Global {
    grid-area: Global;
}

.Exclusive-Interviews {
    grid-area: Exclusive-Interviews;
}

.Resources {
    grid-area: Resources;
}

.hero-access-container {
    gap: 30px;
    display: grid;
    padding: 40px;
    grid-template-areas:
        "Audio Mobile Mobile"
        "Audio Global Global"
        "Exclusive-Interviews Exclusive-Interviews Resources"
    ;
}

/* hero-content section */

.hero-content {
    max-width: 100%;
    width: 1600px;
    background-color: #1A0B2E;
}

.hero-content .header h1,.hero-hoster h1{
    text-align: center;
    padding-top: 120px;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;

}

.hero-content .hero-Featured {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px 200px 120px 200px;

}

.hero-content .hero-Featured .card {
    width: 380px;
    height: 440px;
    border-radius: 24px;
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    justify-content: center;
}


/* .hero-content .hero-Featured .card img {
    width: 380px;
    height: 214px;
    position: absolute;
}

.hero-content .hero-Featured .card div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero-content .hero-Featured .card div .playbutton {
    position: relative;
    height: 60px;
    width: 60px;
} */


 .hero-content .hero-Featured .card iframe{
    border-radius: 24px 24px 0 0 ;
 }

.hero-content .hero-Featured .card h6,.host-info h6 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 24px 20px 24px;
}
.hero-content .hero-Featured .card p,.host-info p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    padding: 0px 24px;
}
.hero-content .hero-Featured .card .pra{
    color: #00FF88;
    font-weight: 700;
}

/* Meet the Host */

.hero-client{
    justify-items: center;
    text-align: start;
    display: flex;
    gap: 24px;
    align-items: center;
    width: 1200px;
    height: 280px;
    border-radius: 24px; 
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    padding: 24px;
    margin-top: 40px;
    
}
 
.host img{
    width: 200px;
    height: 200px;
}
 
